<% unless comment.archived? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= comment.category %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

   <div>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
  </div>
<%end%>


