<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
      > %>

     <%# <script src="https://cdn.tailwindcss.com"></script> %>
    
  </head>

  <body>
    <nav>
      <ul>
        <li>
        <a href="/">
          Home
        </a>
        </li>
      </ul>
    </nav>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
